section
  ul
    li The universal selector (*) has no specificity value (0,0,0,0)
    li.fragment.fade-in Pseudo-elements (e.g. :first-line) get 0,0,0,1 unlike their psuedo-class brethren which get 0,0,1,0
    li.fragment.fade-in The !important value appended a CSS property value is an automatic win. It overrides even inline styles from the markup. 
  strong(style="display: block; margin-top: 35px;").fragment.fade-in Just because nesting is nice, it doesn't mean specificity has to go up
