section
  section
    h3 Five categories:
    ul
      li.fragment.fade-in <strong>Base</strong> is used for defaults like html, body, a, a:hover. This includes your CSS resets and would often be in its own base CSS file or at the start of your main CSS.
      li.fragment.fade-in <strong>Layout</strong> divides a page into sections with elements like header, footer, and article. Often developers show layout elements by prefixing the class with l-.
  section
    ul
      li <strong>Module</strong> is a reusable, modular element in the design. The SMACSS documentation sees modules as the majority of your elements and thus doesn’t require that you prefix them but you could do so if you choose.
      li.fragment.fade-in <strong>State</strong> is used for the variations possible for each element (e.g. active, inactive, expanded, hidden). These are prefixed with is-, e.g. is-active, is-inactive, is-expanded, is-hidden or are via pseudo-classes such as :hover and :focus or media queries.
  section
    ul
      li <strong>Theme</strong> is similar to state but defines how modules and layouts will look. It is more applicable for larger sites with shared elements that look different throughout. You would add theme variations on a per page or per section basis.
