section
  pre(style="margin-top: 110px;")
    code(data-trim).
      <div class="card">
        <img class="card__source-icon">
        <a href="" class="card__source-link"></a>

        <section class="card__metadata">
          <h2 class="metadata__pin-type"></h2>
          <hr>
          <p class="metadata__caption"></p>
          <span class="metadata__pins"></span>
          <span class="metadata__hearts"></span>
        </section>

        <hr>

        <section class="card__callout">
          <img src="" alt="" class="callout__board-preview">
          <p class="callout__msg"></p>
          <a href="" class="callout__board-title"></a>
        </section>
      </div>
