section
  section
    h2 Mixins
    pre
      code(data-trim).
        @mixin square($size, $color) {
          width: $size;
          height: $size;
          background-color: $color;
        }

        .small-blue-square {
          @include square(20px, blue);
        }

        .big-red-square {
          @include square(300px, red);
        }
  section
    h2 Compiled to:
    pre
      code(data-trim).
        .small-blue-square {
          width: 20px;
          height: 20px;
          background-color: blue; 
        }

        .big-red-square {
          width: 300px;
          height: 300px;
          background-color: red;
        }


