section(data-background-transition="zoom")
  h3 Me.json
  pre
    code(data-trim).
      {
        "name": "Riccardo",
        "surname": "Zanutta",
        "interests": [
          "Web", "Technology", "Sports"
        ],
        "work": [
          "@frontend-developer", "@ideonetwork"
        ],
        "tech": [
          "HTML", "CSS", "JavaScript", "React.js"
        ]
      }
