section
  section
    h3 Icons?
    pre
      code.
        %icon {
          content: '';
          display: block;

          &--pins {
            @extend %icon;
            background-image: url('../img/pins.svg');
          }

          &--heart {
            @extend %icon;
            background-image: url('../img/heart.svg');
          }
        }
  section
    ul
      li We're creating an invisible selector, in Sass.
      li none of this code is processed into CSS until we @extend it
      li we specify the background-image for each individual icon while *extending* the styled from its parent block
  section
    h4 Behind the scenes:
    pre
      code.
        %icon, %icon--pins, %icon--heart {
          content: '';
          display: block;
        }

        %icon--pins {
          background-image: url('../img/pins.svg');
        }

        %icon--heart {
          background-image: url('../img/heart.svg');
        }

