section
  section
    h2 !confuse
    h5.fragment.fade-in Automation of repetition is fine.
    p.fragment.fade-in If you can generate the same declaration 50 times without manually repeat it is DRY: you are generating repetition without actually repeating yourself.
  section
    h4 Don't DRY if it's repeated coincidentally.
    p Repetition in compiled code is fine, just avoid duplication data in source.