section
  section
    h3 Possible solutions:
    .row
      .half
        pre
          code(data-trim).
            ul#summer-drinks li.favorite {
              color: red;
              font-weight: bold;
            }
      .half
        pre
          code(data-trim).
            html body div#pagewrap ul#summer-drinks li.favorite {
              color: red;
              font-weight: bold;
            }
  section
    h3 The Jedi mind trick for CSS.
    pre
      code(data-trim).
        .favorite {
          color: red !important;
          font-weight: bold !important;
        }


