section
  h2 Compile Sass:
  ul
    li.fragment.fade-in The original Ruby Sass binary. Install it with gem install sass, and compile it by running sassc myfile.scss myfile.css.
    li.fragment.fade-in A GUI app such as Prepros, Koala, CodeKit
    li.fragment.fade-in libsass, a blazing fast Sass compiler written in C. You can also install libsass via NPM with node-sass (npm install node-sass).