section
  section
    ul
      li caption text
      li.fragment.fade-in header text (pin type)
      li.fragment.fade-in body text (caption)
      li.fragment.fade-in callout text (message)
      li.fragment.fade-in callout text (title)
      li.fragment.fade-in callout image (mini board)
      li.fragment.fade-in source icons
      li.fragment.fade-in local icons
      li.fragment.fade-in numeric treatment
      li.fragment.fade-in main image
      li.fragment.fade-in dividers
      li.fragment.fade-in These are then pulled together in sets of molecules:
  section
    ul
      li Image & Citation (main image + source icon + caption text)
      li.fragment.fade-in Pin Metadata (pin type text + hr + body text + [local icon + numeric treatment] x2)
      li.fragment.fade-in Callout (callout image + callout text (message) + callout text (title))
      li.fragment.fade-in Those molecules then comprise an organism aka the card itself:
      li.fragment.fade-in (Image & Citation) + (Pin Metadata) + divider + (Callout)
