section
  section
    h2 BEM: What?
    p BEM stands for Block Element Modifier and originated at Yandex. It provides a rather strict way to arrange your CSS classes into independent modules.
  section
    ul
      li A Block represents an object in your website. For example:
      li.fragment.fade-in An Element is a component within the block that performs a particular function. It should only make sense in the context of its block
      li.fragment.fade-in A Modifier is how we represent the variations of a block