section
  section
    h2 Nesting
    p.small
      strong !important!  
      | Overly nested rules will result in over-qualified CSS that could prove hard to maintain and is generally considered bad practice.
    pre
      code(data-trim).
        .foo {
          .bar {
            margin: 0;
            padding: 0;
            list-style: none;
          }
          .baz {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
          }
        }
  section
    h2 Compiled to:
    pre
      code(data-trim).
        .foo .bar {
          margin: 0;
          padding: 0;
          list-style: none;
        }

        .foo .baz {
          display: block;
          padding: 6px 12px;
          text-decoration: none;
        }
