section
  h2 
    a(href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html") SASS
  ul
    li Variables
    li.fragment.fade-in Nesting
    li.fragment.fade-in Referencing parents Selectors: &
    li.fragment.fade-in Mixins
    li.fragment.fade-in Partials
    li.fragment.fade-in Extend / Inheritance
    li.fragment.fade-in Operators
    li.fragment.fade-in Conditionals, loops