section
  section
    h2 Variables
    pre
      code(data-trim).
        $font-stack: Helvetica, sans-serif;
        $primary-color: #333;

        body {
          font: 100% $font-stack;
          color: $primary-color;
        }
  section
    h2 Compiled to:
    pre
      code(data-trim).
        body {
          font: 100% Helvetica, sans-serif;
          color: #333;
        }

