section
  section 
    p Improve the quality of your css with PostCSS: useful plugins.
    h5 Autoprefixer: dealing with browser vendor-prefixes.
    pre
      code.
        a {
          transition: transform 1s
        }
  section
    h2 Compiled to:
    pre
      code.
        a {
          -webkit-transition: -webkit-transform 1s;
          transition: -ms-transform 1s;
          transition: transform 1s
        }