section
  h3 Usually:
  pre
    code(data-trim).
      <!-- Functional class names -->
      <div class="is-relative is-responsive"></div>
      <!-- Content-based class names -->
      <div class="registered-user-avatar"></div>
      <!-- Presentational class names -->
      <div class="round-box"></div>
