section
  section
    p Ever wanted to learn Russian but were too busy writing CSS?
    pre
      code.
        h1 {
          размер-шрифта: 20пикселей;
          цвет: красный;
          цвет-фона: белый;
          вес-шрифта: жирный;
        }
  section
    h2 Which compiles to:
    pre
      code.
        h1 {
          font-size: 20px;
          color: red;
          background-color: white;
          font-weight: bold;
        }

