section
  h2 LESS
  ul
    li LESS is written in javascript, so you will need NodeJS to run it.
    li Variables: <code>@nice-blue: #5B83AD;</code>
    li Extend with <code>:extend();</code>
    li Mixins:
      pre
        code(data-trim).
          .a, #b {
            color: red;
          }
          .mixin-class {
            .a();
          }

