section
  section
    h1 !important
    ul
      li CSS is hard.
      li CSS is code as much as JavaScript, PHP or anything else, and we should pay attention to the way we write it.
      li Use a preprocessor to store key data in variables and unleash CSS superpowers!
      li Automate your workflow
      li Make use of mixins to generate repetition for you.
      li Don't over-nesting
  section
    ul
      li Use clear, descriptive, semantic class names
      li Abstract design patterns into reusable objects
      li Do not DRY anything that is purely coincidental
      li Repetition is better than the wrong abstraction
      li CSS have many, many hidden power:
        ul
          li
            a.link(href="http://una.im/css-games/") http://una.im/css-games/
          li
            a.link(href="http://codepen.io/rickzanutta/full/doWzNE/") http://codepen.io/rickzanutta/full/doWzNE/ 
          li
            a.link(href="https://davidwalsh.name/css-facts ") https://davidwalsh.name/css-facts  
