section
  section
    h3 Useful links:
    ul
      li 
        a.link(href="http://www.sassmeister.com/ ") http://www.sassmeister.com/ 
      li 
        a.link(href="http://getbootstrap.com/ ") http://getbootstrap.com/ 
      li 
        a.link(href="http://foundation.zurb.com/ ") http://foundation.zurb.com/ 
      li 
        a.link(href="https://github.com/HugoGiraudel/sass-boilerplate ") https://github.com/HugoGiraudel/sass-boilerplate 
      li 
        a.link(href="http://www.sitepoint.com/introducing-ccss-component-css/ ") http://www.sitepoint.com/introducing-ccss-component-css/ 
      li 
        a.link(href="https://github.com/Riccardo-Zanutta/brick ") https://github.com/Riccardo-Zanutta/brick 
  section
    ul
      li 
        a.link(href="https://github.com/AllThingsSmitty/css-protips ") https://github.com/AllThingsSmitty/css-protips 
      li 
        a.link(href="https://github.com/AllThingsSmitty/must-watch-css") https://github.com/AllThingsSmitty/must-watch-css
      li 
        a.link(href="https://css-tricks.com/strategies-keeping-css-specificity-low/ ") https://css-tricks.com/strategies-keeping-css-specificity-low/ 
      li 
        a.link(href="http://www.webdesignermag.co.uk/sass-v-less-v-stylus-the-pros-and-cons/ ") http://www.webdesignermag.co.uk/sass-v-less-v-stylus-the-pros-and-cons/ 


