section
  section
    h2 Extend/Inheritance
    pre
      code(data-trim).
        .message {
          border: 1px solid #ccc;
          padding: 10px;
          color: #333;
        }

        .success {
          @extend .message;
          border-color: green;
        }

        .error {
          @extend .message;
          border-color: red;
        }

        .warning {
          @extend .message;
          border-color: yellow;
        }
  section
    h2 Compiled to:
    pre
      code(data-trim).
        .message, .success, .error, .warning {
          border: 1px solid #cccccc;
          padding: 10px;
          color: #333;
        }

        .success {
          border-color: green;
        }

        .error {
          border-color: red;
        }

        .warning {
          border-color: yellow;
        }

