section
  h2 Stylus
  p Stylus is a CSS preprocessor written in Node.js.
  ul
    li Variables: 
      code.small.
        text-font-stack = 'Helvetica', 'Arial', sans-serif;
    li Mixins:
      pre
        code.
          size(width, height = width)
            width width
            height height
          .foo
            size(100px)

