section
  h2 OOCSS
  p OOCSS is a programming paradigm. OOCSS stands for Object Oriented CSS. 
  ul
    li CSS object identification
    li separation of structure and visual styles
    li single responsibility principle