section
  h3(style="margin-bottom: 30px;") Naming conventions.
  blockquote
    "There are only two hard things in Computer Science: cache invalidation and naming things." -- Phil Karlton
  p BEM, OOCSS, ACSS