section
  h2 Summary
  ul 
    li SASS has better community support
    li Many Features vs. LESS
    li .scss syntax is the same as regular CSS, but with superpowers
  p
    a.link(href="https://csspre.com/compare/", target="_blank") https://csspre.com/compare/