section
  h2 Principles: 
  ul
    li.fragment.fade-in be DRY
    li.fragment.fade-in be Mantainable: write for updates & debugging
    li.fragment.fade-in be Predictable: Don't keep hacking what's broken (unless you have to)
    li.fragment.fade-in Write Scalable code
    li.fragment.fade-in Write Modular code
