section(style="margin-top: 150px;")
  h2 OOCSS Pinterest card.
  pre
    code(data-trim).
      <section class="card__metadata">
        <h2 class="metadata__pin-type"></h2>
        <hr>
        <p class="metadata__caption"></p>
        <span class="metadata__pins"></span>
        <span class="metadata__hearts"></span>
      </section>