section
  section
    h2 Modularize: Partials
    .row
      .half
        pre
          code(data-trim).
            /* partial.scss */
            .foo {
              width: 100%;
            }
      .half
        pre
          code(data-trim).
            /* app.scss */
            @import "partial";

            .bar {
              background: white;
            }
  section
    h2 Compiled to:
    pre
      code(data-trim).
        .foo {
          width: 100%;
        }
        .bar {
          background: white;
        }

