section
  h2 Summary
  p A good naming convention will tell you and your team:
  ul
    li what an entity class represents;
    li where a class can be used;
    li what (else) a class might be related to.
