section
  img(src="img/logo.svg", alt="webisart logo", class="initial-logo logo")
  h1 Modern CSS
  p How to write scalable, modular CSS
  p.small
    a.link(href="https://twitter.com/RiccardoZanutta", target="_blank") Riccardo Zanutta
