section
  img(src="img/logo.svg", alt="webisart logo", class="initial-logo logo")
  h1 Thanks!
  p
    a(href="https://twitter.com/RiccardoZanutta", target="_blank").link Twitter
    a(href="http://codepen.io/rickzanutta/", target="_blank").link Codepen
    a(href="https://github.com/Riccardo-Zanutta", target="_blank").link Github
  p.small
    a.link(href="https://www.facebook.com/webisart.user.group/") https://www.facebook.com/webisart.user.group/