section
  h4 The specificity problem, naming conventions and writing methodologies.
  .row
    .half
      pre
        code(data-trim).
          <ul class="summer-drinks">
             <li class="favorite">Whiskey and Ginger Ale</li>
             <li>Beer</li>
             <li>Vodka</li>
          </ul>
    .half
      pre
        code(data-trim).
          .favorite {
            color: red;
            font-weight: bold;
          }
  .row
    h4.fragment.fade-in(style="margin-top: 30px;") Doesn't work.
