section
  img(src="img/postcss.svg", alt="", style="box-shadow: none;")
  p PostCSS is agnostic to language format and allows for the syntax style of different preprocessors, like Sass and LESS, if needed.
  p "Wait! A CSS file?" Yup, a CSS file.