doctype html
html
  include inc/head
  body
    .reveal-frame
    .reveal
      .slides
        include ../slides/slide-1
        include ../slides/slide-2
        include ../slides/slide-3
        include ../slides/slide-4
        include ../slides/slide-5
        include ../slides/slide-6
        include ../slides/slide-7
        include ../slides/slide-8
        include ../slides/slide-9
        include ../slides/slide-10
        include ../slides/slide-11
        include ../slides/slide-12
        include ../slides/slide-13
        include ../slides/slide-14
        include ../slides/slide-15
        include ../slides/slide-16
        include ../slides/slide-17
        include ../slides/slide-18
        include ../slides/slide-19
        include ../slides/slide-20
        include ../slides/slide-21
        include ../slides/slide-22
        include ../slides/slide-23
        include ../slides/slide-24
        include ../slides/slide-25
        include ../slides/slide-26
        include ../slides/slide-27
        include ../slides/slide-28
        include ../slides/slide-29
        include ../slides/slide-30
        include ../slides/slide-31
        include ../slides/slide-32
        include ../slides/slide-33
        include ../slides/slide-34
        include ../slides/slide-35
        include ../slides/slide-36
        include ../slides/slide-37
        include ../slides/slide-38
        include ../slides/slide-39
        include ../slides/slide-40
        include ../slides/slide-41
        include ../slides/slide-42
        include ../slides/slide-43
        include ../slides/slide-44
        include ../slides/slide-45
        include ../slides/slide-46
        include ../slides/slide-47
        include ../slides/slide-48
        include ../slides/slide-49
        include ../slides/slide-50
        include ../slides/slide-51
        include ../slides/slide-52
        include ../slides/slide-53
        include ../slides/slide-54
        include ../slides/slide-55
        include ../slides/slide-56
        include ../slides/slide-57
        include ../slides/slide-58
        include ../slides/slide-59
        include ../slides/slide-60
        include ../slides/slide-61
        include ../slides/slide-62
        include ../slides/slide-63
        include ../slides/slide-64
        include ../slides/slide-65
        include ../slides/slide-66
        include ../slides/slide-67
        include ../slides/slide-68
        include ../slides/slide-69
        //- include ../slides/slide-40
        //- include ../slides/slide-40
        include ../slides/slide-99
      include inc/scripts
