@import "vendor/reveal"
// Import Custom Theme
@import "reveal-themes/webisart"
//@import "reveal-themes/webisart-green"
/*
* Highlight Themes
* uncomment your favorite theme
* check them live at: https://highlightjs.org/static/demo/
* and convert them from this: https://github.com/isagalaev/highlight.js/tree/master/src/styles 
*/
@import "highlight-themes/zenburn"